    @import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    @tailwind base;
    @tailwind components;
    @tailwind utilities;



    * {
        box-sizing: border-box;
    }


    body {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.6;
    }


    h1,
    h2,
    h3 {
        font-family: 'Changa', sans-serif;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }


    button {
        font-family: 'Inter', sans-serif;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    #myName {
        -webkit-text-stroke: 2px gray;
        color: transparent;
    }

